<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>userList</title>
</head>
<body>
	我是模板页面
	<table border="1" cellspacing="0" cellpadding="0">
		<tr>
			<td>编号</td>
			<td>用户名</td>
			<td>密码</td>
			<td>性别</td>
			<td>年龄</td>
		</tr>
		<volist name="rows" id="vo">
			<tr>
				<td>{$vo.id}</td>
				<td>{$vo.name}</td>
				<td>{$vo.pass}</td>
				<td>{$vo['sex'] == 1?'男':'女'}</td>
				<td>{$vo.age}</td>
			</tr>
		</volist>
		<tr>
			<td colspan="5">{$show}</td>
		</tr>
	</table>
</body>


</html>

